@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*Estilo do Projeto */
body{
    font-family: 'Roboto', 'Times New Roman';
    background: #ffffff;
}
h1 {color: #c03232;
margin-top: 40px;
font-size: 50px;
font-weight: bold;

}
h2 {color:#020202}

th{
    background: #ffffff;
    color: #000000;
    padding: 8px;   
}

td{
    background: #ffffff;
    color: hsl(0, 0%, 0%);
    padding: 16px;
}

table{
    width: 50%;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.direita{
    text-align: right;
    font-weight: bold;
}
img {
    border-radius: 16px;
}